selyavko-i/.vs
selyavko-i/Debug
selyavko-ii/.vs
selyavko-ii/Debug
selyavko-task-i/.vs
selyavko-task-i/Debug
selyavko-iii/.vs
selyavko-iii/Debug
selyavko-iv/.vs
selyavko-iv/Debug
selyavko-task-ii/selyavko-task-ii-a/.vs
selyavko-task-ii/selyavko-task-ii-a/Debug
selyavko-task-ii/selyavko-task-ii-b/.vs
selyavko-task-ii/selyavko-task-ii-b/Debug
selyavko-v/.vs
selyavko-v/Debug
selyavko-v/ipch
selyavko-v/selyavko-v.VC.db
selyavko-v/selyavko-v/Debug
selyavko-v/selyavko-v/x64